[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/themefisher/kross-hugo
[submodule "themes/imbizo-website-base"]
	path = themes/imbizo-website-base
	url = git@github.com:isicnimbizo/imbizo-website-base.git
